

.cc-profile-image a {
    position: relative;
  }
  
.cc-profile-image a:before {
content: "";
    border: 15px solid rgba(55, 140, 63, 0.6);
    border-radius: 50%;
    position: absolute;
    left: 0;
    -webkit-animation: pulsate 1.6s ease-out;
            animation: pulsate 1.6s ease-out;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    opacity: 0.0;
    z-index: 99;
}

.cc-profile-image img {
    position: relative;
    border-radius: 50%;
    height: 180px;
    width: 180px;
    padding: 0;
    margin: 0;
    border: 15px solid transparent;
    z-index: 9999;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
  
  .cc-profile-image a:hover img {
    -webkit-transform: scale(1.06, 1.06);
            transform: scale(1.06, 1.06);
  }
  
  .cc-profile-image a:hover:before {
    -webkit-animation: none;
            animation: none;
  }

  .content-center {
    position: relative;
    top: 50%;
    text-align: center;
    padding: 10%;
    width: 100%;
    color: white;
  }

  .dark-font {
      color: white;
  }

  





/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-width: 450px) {
    .profile-page {
        padding-top: 10%;
    }
    .name-title {
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .contact-handle {
        padding-top: 10%;
        color: white;
    }

    .cv-download {
        padding-top: 10%;
    }



}



