<!-- <div class="content">
   <div class="profile-picture">
        I am Abhishek Anand
   </div>
   <div class="introduction">

   </div>

   <div class="">
       
   </div>
</div> -->

<div class="profile-page">
   <div class="wrapper">
       <div class="container">
         <div class="content-center">
           <div class="name-title cc-profile-image"><a href="#"><img src="/assets/images/profile.png" alt="Image"/></a></div>
           
           <div class="desc name-title">Hello World! <br>My name is Abhishek Anand.</div>

           <div>
               <ul>
                  <li style="text-align: left;"> I am currenly working as Software Developer at VMware India. </li>
                  <li style="text-align: left;"> I am a Competitive Programmar. </li>
                  <li style="text-align: left;"> I am a Problem Solver. </li>
               </ul>
               
           </div>
            <div class="cv-download">
               <a class="btn btn-primary" href="https://drive.google.com/file/d/1d5GsYhoW-zJtPDNbiTwHrrqFHAa7HRda/view" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Download CV</a>
           <div>
            <div class="contact-handle">
              <div class="button-container">
                 <a class="btn btn-default btn-round btn-lg btn-icon dark-font" href="https://www.facebook.com/abhishek.thehacker" rel="tooltip" title="Follow me on Facebook">
                    <i class="fa fa-facebook"></i>
                  </a>
                  <a class="btn btn-default btn-round btn-lg btn-icon dark-font" href="https://twitter.com/Abhishe15234863" rel="tooltip" title="Follow me on Twitter">
                     <i class="fa fa-twitter"></i>
                  </a>
                  <a class="btn btn-default btn-round btn-lg btn-icon dark-font" href="#" rel="tooltip" title="Follow me on Google+">
                     <i class="fa fa-google-plus"></i>
                  </a>
                  <a class="btn btn-default btn-round btn-lg btn-icon dark-font" href="#" rel="tooltip" title="Follow me on Instagram">
                        <i class="fa fa-instagram"></i>
                  </a>
               </div>
            </div>
          </div>
         </div>
     </div>
 </div>